body {
  font-family: Arial, Helvetica, sans-serif;
  background-image: url(/image/background_1.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: auto;
}

p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14PX;
}


.reveal {
position: relative;
transform: translateY(120px);
opacity: 0;
transition: all 1s ease;
}

.reveal.active {
transform: translateY(0px);
opacity: 1;
}


.menubtn {
  display: inline;
  cursor: pointer;
  float: right;
  padding-top: 5px;
}

.bar1, .bar2, .bar3 {
  width: 25px;
  height: 2px;
  background-color: #fcfcfc;
  margin: 6px 0;
  transition: 0.4s;
}

/* Rotate first bar */
.change .bar1 {
  transform: translate(0, 8px) rotate(-45deg);
  background-color: #dfbd00;
}

/* Fade out the second bar */
.change .bar2 {opacity: 0;}

/* Rotate last bar */
.change .bar3 {
  transform: translate(0, -8px) rotate(45deg);
  background-color: #dfbd00;
}

.sidenav {
  height: 100%;
  width: 80%;
  position: fixed;
  z-index: 9999;
  top: 61px;
  right: 0;background-image: url(/image/background_1.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 10px;
  display: none;
}

.sidenav a {
  text-decoration: none;
  font-size: 13px;
  font-family: Amiko;
  margin-left: 15px;
  padding: 8px 10px 8px 10px;
  color: #555;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #AB2F44;
  background-color: #2f353f4b;
}

.sidenav .closebtn {
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 36px;
  cursor: pointer;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}


.navbar_pc li .pc_a {
  font-family: "Amiko";
  color: #fff;
  margin-top: 0px;
  padding: 10px 16px;
  font-weight: 200;
  transition: 0.4s;
  font-size: 11px;
  margin-top: 6px;
}

.navbar_pc li .pc_a:hover {
  color: #dfbd00;
  font-weight: 500;
  transition: 0.4s;
}

.body_2 .body_2_image {
    background-image: url(/image/background_3.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 420px;
    /**filter: blur(6px);
    -webkit-filter: blur(6px);***/
  }
  
  .body_2 .body_2_image_mask {
    background-color: rgba(0, 0, 0, 0.555);
    height: 420px;
  }
  
  .body_2 .text .card {
    position: absolute;
    z-index: 99;
    left: -90px;
    top: 60px;
    overflow: hidden;
  }
  
  .body_2 .text .card:hover {
    background-color: #AB2F44;
    color: #fff;
  }
  
  .body_2 .text .card h3 {
    text-transform: capitalize;
    font-weight: 900;
    font-family: Amiko;
  }
  
  .body_2 .text .card ul li b {
    text-transform: capitalize;
    font-size: 15px;
  }
  
  .body_2 .text .card ul li {
    font-size: 14px;
    padding-top: 10px;
    list-style: circle;
    font-family: Amiko;
  }
  
  
  .body_2_mb h3 {
    color: #dfbd00;
    text-transform: capitalize;
    font-weight: 900;
    font-family: Amiko;
  }
  
.body_2_mb ul li b {
    color: #333;
    text-transform: capitalize;
    font-size: 15px;
}
  
.body_2_mb ul li {
    color: #555;
    font-size: 14px;
    padding-top: 10px;
    list-style: circle;
    font-family: Amiko;
}
  


.body_3 {
    background-image: url(/image/background_1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
    padding: 0px 60px;
    margin-top: 80px;
}
  
@media only screen and (max-width: 600px) {
  .body_3 {
    background-image: url(/image/background_1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
    padding: 10px 30px;
  }
}
  
.body_3 h1 {
    text-align: left;
    font-family: Amiko;
    color: #dfbd00;
    font-size: 55px;
}

@media screen and (max-width: 600px) {
  .body_3 h1 {
    text-align: center;
    font-family: Amiko;
    color: #dfbd00;
    font-size: 28px;
    padding-top: 8px;
  }
}

  .body_3 .image{
    background-image: url(/image/games/roullette.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
  }
  
  .body_3 .image2 {
    background-image: url(/image/games/Baccarat.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
  }
  
  .body_3 .image3 {
    background-image: url(/image/games/fishmachine.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
  }
  
  .body_3 .image4 {
    background-image: url(/image/games/Bingo1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
  }
  
  .body_3 .image5 {
    background-image: url(/image/slot1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
  }
  
  .body_3 .image6 {
    background-image: url(/image/poker.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
  }
  
  .body_3 .image_mask {
    background-color: rgba(0, 0, 0, 0.548);
    height: auto;
    padding: 15px 12px;
    position: relative;
    z-index: 99;
    bottom: 0;
    width: 100%;
    overflow: hidden;
    transition: 0.5s;
  }
  
  .body_3 .image_mask h4 {
    color: #fff;
    font-size: 24px;
  }
  
  .body_3 .image_mask .btn {
    padding: 10px 30px;
    border: 1px solid #fff;
    color: #fcfcfc;
    margin-top: 8px;
    font-size: 10px;
    font-family: Archivo;
    transition: 0.3s;
  }
  
  .body_3 .image_mask .btn:hover {
    padding: 10px 30px;
    background-color: #fff;
    color: #AB2F44;
    transition: 0.3s;
  }
  
  .body_3 .image_mask .hide {
    display: none;
    transition: 0.5s;
  }
  
  .body_3 .image_mask:hover {
    transition: 0.5s;
    background-color: rgba(0, 0, 0, 0.767);
    height: 300px;
  }  
  
  .body_3 .image_mask:hover > h4 {
    color: #dfbd00;
    transition: 0.5s;
    padding-top: 30px;
  }  
  
  .body_3 .image_mask:hover > .hide {
    display: block;
    color: #fff;
    transition: 0.5s;
    padding-top: 13px;
    font-size: 13px;
  }
  
  .body_3 .image_mask:hover > .hide ul li {
    padding-top: 10px;
  }
  
  
.contact_col {
  background-color: #AB2F44;
  width: 70%;
  position: relative;
  z-index: 1;
  top: 80px;
  height: 180px;
}

.contact_col .sub_1 h5 {
  font-family: Amiko;
  color: #fcfcfc;
}

.contact_col .sub_1 p {
  color: #dfbd00;
  font-family: Amiko;
  font-size: 13px;
}

.contact_col .sub_2 p {
  color: #dfbd00;
  font-family: Amiko;
  font-size: 13px;
}

.contact_col .sub_2 .email {
  font-family: Amiko;
  color: #fcfcfc;
  font-size: 13px;
}

.contact_col .sub_2 .phone {
  font-family: Amiko;
  color: #fcfcfc;
  font-size: 13px;
}

.footer_pc {
  background-image: url(/image/background_1.png);
background-repeat: no-repeat;
background-position: center;
background-size: cover;
height: auto;
  padding-top: 90px;
  padding-bottom: 25px;
  border-top: 1px solid #dfbd00;
}

@media screen and (max-width: 600px) {
  .footer_pc {
      background-image: url(/image/background_1.png);
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      height: auto;
      padding-top: 30px;
      padding-bottom: 25px;
  }
}


.footer_pc .foot1 .btn {
  padding: 8px 40px;
  background-color: #AB2F44;
  color: #fcfcfc;
  margin-top: 35px;
  font-size: 10px;
  font-family: Archivo;
  transition: 0.3s;
}

.footer_pc .foot1 .btn:hover {
  padding: 8px 40px;
  background-color: #dfbd00;
  color: #AB2F44;
  transition: 0.3s;
}

.footer_pc .foot2 h5 {
  color: #AB2F44;
  text-transform: capitalize;
  padding-top: 35px;
}


.footer_pc .foot2 .games .gm {
  color: #333;
  text-transform: uppercase;
  font-size: 11px;
  display: block;
  padding-top: 16px;
}

.footer_pc .foot2 .games .gm:hover {
  font-size: 11px;
  color: #dfbd00;
  text-transform: uppercase;
}


.footer_pc .foot2 .social .fad {
  font-size: 15px;
}

.footer_pc .foot2 .social .fb {
  font-size: 12px;
  color: #333;
  text-transform: uppercase;
}

.footer_pc .foot2 .social .fb:hover {
  font-size: 12px;
  color: #dfbd00;
  text-transform: uppercase;
}

.footer_pc .mobile_contact h6 {
  text-transform: uppercase;
  font-size: 14px;
  color: #dd4b39;
}

.footer_pc .mobile_contact p {
  font-size: 13px;
  color: #444;
}

.footer2 {
  background-color: #AB2F44;
}

.footer2 p {
  font-size: 13px;
  color: #fff;
  text-align: center;
}

/* Fixed/sticky icon bar (vertically aligned 50% from the top of the screen) */
.icon-bar {
  position: fixed;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

/* Style the icon bar links */
.icon-bar a {
  display: block;
  text-align: center;
  padding: 6px 8px;
  transition: all 0.3s ease;
  color: white;
  font-size: 20px;
}

/* Style the social media icons with color, if you want */
.icon-bar a:hover {
  background-color: #000;
}

.facebook {
  background: #3B5998;
  color: white;
}

.twitter {
  background: #55ACEE;
  color: white;
}

.google {
  background: #dd4b39;
  color: white;
}

.insta {
  background: #8b00b5;
  color: white;
}

.youtube {
  background: #20c511;
  color: white;
}


.about_page_body1 {
  background-image: url(/image/background_1.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: auto;
}

 
.about_page_body1 h1 {
  text-align: left;
  font-family: Amiko;
  color: #dfbd00;
  font-size: 55px;
}

@media screen and (max-width: 600px) {
  .about_page_body1 h1 {
    text-align: left;
    font-family: Amiko;
    color: #dfbd00;
    font-size: 28px;
    padding-top: 18px;
  }
}

.about_page_body1 ul li {
  color: #333;
  font-size: 14px;
  padding-top: 16px;
  list-style: decimal;
}


.banner5 {
  background-color: #fff;
}

.banner5 .card .header1 {
  background-image: url(/image/vip/VIP.jpg);
background-repeat: no-repeat;
background-position: center;
background-size: cover;
  position: relative;
  z-index: 9;
  top: -50px;
  width: 90%;
  height: 250px;
}

.banner5 .card .header2 {
  background-image: url(/image/Bar/bar.jpg);
background-repeat: no-repeat;
background-position: center;
background-size: cover;
  position: relative;
  z-index: 9;
  top: -50px;
  width: 90%;
  height: 250px;
}

.banner5 .card .card_body h4 {
  font-family: Amiko;
  color: #dfbd00;
  border-bottom: 1px solid #dfbd00;
}

.banner5 h1 {
  text-align: left;
  font-family: Amiko;
  color: #dfbd00;
  font-size: 45px;
  padding-top: 30px;
}

@media screen and (max-width: 600px) {
  .banner5 h1 {
    text-align: left;
    font-family: Amiko;
    color: #dfbd00;
    font-size: 28px;
    padding-top: 30px;
  }
}

.banner5 .card .card_body p {
  color: #333;
  font-family: Amiko;
  font-size: 13px;
  padding-top: 15px;
}
